/* Header background: #F6F6F7

Font colour:  #222222 and #888888

Required star *: #C90000

Border light grey: #CCCCCC

Border dark grey #222222
  */
 

 .header {
    background-color: #F6F6F7;
    justify-content: flex-end;
    width: 100%;
    height: 33px;
    margin: 17px;
    margin-bottom: 30px;
 }

.cartText {
    padding-right: 200px;
    padding-top: 6px;
    color:#888888;
    font-size: 0.75em;
}

 
 .container{
    justify-content: center;
    padding-bottom: 50px;
}

.rightSide{
    margin-left: 45px;
}


.title{
    font-size: 1.4em;
    color: #222222;
    opacity: 0.9;
}

 .line{
width: 100%;
border-bottom: 1px solid #F6F6F7;
}

 .price {
    font-weight: bold;
    margin: .9em 0;
    color: #222222;
    font-size: 0.95em;
   
 }

 .text {
    color:#888888;
    opacity: 0.8;
    font-size: 0.9em;
    line-height: 1.7;
 }

 .size{
     color:#888888;
     font-size: .7em;
     font-weight: bold;
     margin-bottom: 14px;
 }

 .buttonSizes {
    color:#888888;
    width: 42px;
    height: 42px;
    margin-right: 6px;
    font-size: .8em;
    border: .5px solid #888888;
 }
 .buttonSizes:active {
    border: 2px solid #222222;


 }

 .addToCartButton {
    color: #222222;
    border: 2px solid #222222;
    margin-top: 20px;
    width: 165px;
    height: 40px;
    font-weight: bold;
    font-size: .95em;
    letter-spacing: 1px;
    -webkit-transition: .2s all;   
    -webkit-transition-delay: .2s; 
    -moz-transition: .2s all;   
    -moz-transition-delay: .2s; 
    -ms-transition: .2s all;   
    -ms-transition-delay: .2s; 
    -o-transition: .2s all;   
    -o-transition-delay: .2s; 
    transition: .2s all;   
    transition-delay: .2s;     
 }

 
  .addToCartButton:hover {
    background-color: black;
    color: white;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }

  
*{font-family: Helvetica;}

.star {
    color:red;
}